@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 6%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 222.2 84% 50%;
    --accent2: 25, 95%, 53%;

    --border: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    font-family: var(--font-inter);
  }

  :root.dark {
    --background: 222.2 84% 6%;
    --foreground: 210 40% 80%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 222.2 84% 10%;
    --secondary-foreground: 210 40% 90%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 222.2 84% 69%;
    --accent2: 25, 84%, 69%;

    --border: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-pt-28 scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply my-1 bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-muted-foreground/50 hover:bg-muted-foreground/30;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-bold lg:text-5xl;
  }

  h2 {
    @apply mb-1 text-3xl font-semibold md:text-4xl;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold md:text-2xl;
  }

  p {
    @apply text-pretty leading-7;
  }

  ol,
  ul {
    @apply my-6 ml-6 [&>li]:mt-2;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
}

@layer components {
  .gradient {
    @apply bg-gradient-to-r from-accent to-accent2;
  }

  .gradient-rev {
    @apply bg-gradient-to-l from-accent to-accent2;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-accent to-accent2 bg-clip-text text-transparent;
  }

  .lead {
    @apply text-lg text-muted-foreground;
  }

  .card {
    @apply flex flex-col gap-y-2 rounded-md border bg-secondary/80 px-4 py-2 transition-colors hover:bg-secondary;
  }
}
